@font-face {
font-family: 'Raleway';
font-style: normal;
font-weight: 100;
src: local('Raleway-Thin'), url('raleway.ttf')
}

body{
background:black;
color:white;
font-family: 'Raleway', sans-serif;
}

.group{
width:30%;
margin:31px;
display:inline-block;
min-width:400px;
max-width:600px;
vertical-align:top;
text-align:left;
}

#title {
font-size:40px;
margin:0;
text-transform:uppercase;
}

.group table{
margin-left:20px;
width:100%;
}

.group table td.value{
text-align:right;
min-width:80px;
padding-right:5px;
font-family:sans-serif;
font-weight:100;
font-size:14px;
}

.group table th{
text-align:left;
}

th{
min-width:100px;
}

td.limit{
font-size:65%;
}

td.min{
text-align:right;
}

td.bar{
min-width:80px;
padding:5px;
height:10px;
}

.magicBar{
max-height:10px;
}

#splash{
background:black;
position:fixed;
z-index:10000;
padding-top:20%;
text-align:center;
left:0;right:0;top:0;bottom:0;
}

.alarm{
color:red;
}
